[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ampy = "*"
adafruit-ampy = "*"
python-osc = "*"
bokeh = "*"
nose-progressive = "*"
nose = "*"
pylint = "*"
arpreq = "*"
scipy = "*"
esptool = "*"

[requires]
python_version = "3.6"
